# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ajufioyljbuhjbvawuee.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqdWZpb3lsamJ1aGpidmF3dWVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk1MTY3MDcsImV4cCI6MjA4NTA5MjcwN30.U-ojbJQjiIo9g9qO068s-QY670ajaLrI4CmZcx3hC8w

# n8n Webhooks
NEXT_PUBLIC_N8N_MODIFY_TEXT_URL=https://n8n2.srv1014748.hstgr.cloud/webhook-test/modify-text
NEXT_PUBLIC_N8N_RESTORE_VERSION_URL=https://n8n2.srv1014748.hstgr.cloud/webhook-test/restore-version
NEXT_PUBLIC_N8N_MODIFY_IMAGE_URL=https://n8n2.srv1014748.hstgr.cloud/webhook-test/modify-image
NEXT_PUBLIC_N8N_RESTORE_IMAGE_URL=https://n8n2.srv1014748.hstgr.cloud/webhook-test/restore-image

# App Config
NEXT_PUBLIC_APP_URL=http://localhost:3000
